body{
  background-color: rgb(214, 214, 214);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Sidebar.css */
.sidebar {
  width: 200px;
  height: 400px;
  padding: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  text-transform: uppercase;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.sidebar ul li:hover {
  background-color: #ddd;
}

/* NewsComponent.css */
.main-container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  flex-grow: 1;
}

.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: #fff;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.news-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.news-title {
  font-size: 18px;
  margin: 10px 0;
}

.news-author {
  font-size: 14px;
  color: #555;
}

.news-description {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

.news-link {
  text-decoration: none;
  color: #1e90ff;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.sidebar li.active {
  background-color: #f25614;
  color: white;
}
.top-menu{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0
}

/* Sidebar.css */
.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    color: #333;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li:hover {
    background-color: #ddd;
}

.sidebar ul li.active {
    background-color: #db4e1a;
    color: white;
}

.close-btn {
    cursor: pointer;
    float: right;
    font-size: 1.5rem;
    color: #333;
}

.close-btn:hover {
    color: #f00;
}

.logo-head{

  width: 124px;
  height: 36px;

}

/* /////////////////////////////////////////////////////////////// */

